
<div class="container">
    <div class="row">
      <div class="col">
        <img src="https://previews.123rf.com/images/sheldonjc/sheldonjc2005/sheldonjc200500132/148437357-ein-verlassenes-altes-haus-in-canterbury-neuseeland.jpg" alt="Girl in a jacket" width="700" height="550">
      </div>
      <div class="col">
        <h1>Twój wymarzony dom!</h1>
        <p class="lh-lg">Nasza firma pozwoli Ci zamieszkać w domu, o którym zawsze marzyłeś! Pozwól nam zaprojektować Ci miejsce, w którym z dumą zamieszkasz i dasz schronienie całej Twojej rodzinie. Nietuzinkowe idee, atrakcyjne ceny, zadowoleni klienci. To nas charakteryzuje. Daj nam szansę, a sąsiadowi z zazdrości pęknie żyłka!</p>
      </div>
    </div>