

<div class="container-fluid">
    <router-outlet></router-outlet>
    <div class="menu">
    <div class="p-1 mb-3 bg-info text-dark">
    <div class="row align-items-start">
      <div class="col">
        <a href="/"><p class="text-dark"><button type="button" class="btn btn-info"><b>STRONA GŁÓWNA</b></button></p></a>
      </div>
      <div class="col">
        <a href="o-nas"><p class="text-dark"><button type="button" class="btn btn-info"><b>O NAS</b></button></p></a>
        </div>
        </div>
      </div>
   

    </div>

   

    <router-outlet></router-outlet>