.menu{

    text-align: center;
    margin-top: 5px;
    font-size: larger;

}

a:link {text-decoration: none}
    a:visited {text-decoration: none}
    a:active {text-decoration: none}
    a:hover {text-decoration: underline}